jcBENCH2/jcBENCH2.library/Service References/jcBENCHResultServiceReference/ResultService32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://www.jarredcapellman.com/codecamp/ResultService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/jcBENCH2.wcf.Objects" />
  <xs:element name="GetTopResults">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numberResults" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTopResultsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/jcBENCH2.wcf.Objects" minOccurs="0" name="GetTopResultsResult" nillable="true" type="q1:ArrayOfTopResultItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/jcBENCH2.wcf.Objects" minOccurs="0" name="resultItem" nillable="true" type="q2:SubmitResultItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitResultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubmitResultResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>