jcBENCH2/jcBENCH2.library/Service References/jcBENCHResultServiceReference/ResultService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/jcBENCH2.wcf.Objects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/jcBENCH2.wcf.Objects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTopResultItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TopResultItem" nillable="true" type="tns:TopResultItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTopResultItem" nillable="true" type="tns:ArrayOfTopResultItem" />
  <xs:complexType name="TopResultItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateOfBenchmark" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DeviceName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Score" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TopResultItem" nillable="true" type="tns:TopResultItem" />
  <xs:complexType name="SubmitResultItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="DeviceName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Score" type="xs:int" />
      <xs:element minOccurs="0" name="TimeOfBenchmark" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SubmitResultItem" nillable="true" type="tns:SubmitResultItem" />
</xs:schema>